<?xml version="1.0"?>
<launch>
  <arg name="config" default="config/create-default.yaml" />
  <arg name="desc" default="true" />

  <node name="create_driver" pkg="create_driver" exec="create_driver" output="screen">
    <param from="$(var config)" />
    <param name="robot_model" value="CREATE_2" />

	  <!-- <remap from="/odom" to="/odom_roomba" /> -->
  </node>

  <!-- Robot description -->
  <include if="$(var desc)" file="$(find-pkg-share create_description)/launch/create_2.launch" />
</launch>

